extends ../layout/layout
block content
    -const formatDate = function(str) {
        -if (!str) {
            -return;
        -}
        -let date = new Date(str);
        -let y = date.getFullYear();
        -let m = date.getMonth() < 9 ? `0${date.getMonth()+1}` : date.getMonth()+1;
        -let d = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        -return `${y}-${m}-${d}`;
    -}
    main.main#blog
        aside.cate
            h3.cate_item 文章分类
            ul.cate_wrap
                each val, index in [{name:"TOP",link:"TOP"},...allCategories]
                    li.cate_item
                        a(class=active_cate===val.name?'active':'' href='/article?category='+val.link)= val.name
        ul.article_list
            //- li
                h1.list_header=active_cate  
            if articleList.length
                each val,index in articleList
                    -const {title, category, createTime,alias} = val
                    li.list_cell
                        p.title
                            a(href='/article?title='+alias)=title
                        p
                            span.time #{formatDate(createTime)} | #{category.name}
            else 
                p.no_article 暂无该类文章