extends ../layout/layout

block content
    -var formatDate= function(str) {
        -if (!str) {
            -return;
        -}
        -let date = new Date(str);
        -let y = date.getFullYear();
        -let m = date.getMonth() < 9 ? `0${date.getMonth()+1}` : date.getMonth()+1;
        -let d = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        -return `${y}-${m}-${d}`;
    -}
    //- 文章列表
    main.main#blog
        if is_list
            ul.article_list
                h1.list_header=active_cate
                each val,index in articleList
                    -const {title, categoryName, createTime,alias} = val
                    a(href='/article?title='+alias)
                        li.list_cell 
                            h3=title
                            p
                                //- span.category=categoryName
                                span.time #{formatDate(createTime)}
        //- 文章详情内容
        else
            -const {_id, title, categoryName,modifyTime,createTime,content} = article
            -const {name} = article.category || {}
            .article_detail
                h1.article_title=title
                p.sub_title #{formatDate(createTime)} | #{name || categoryName}
                article.article_content!=content
                .comment
                    div(id="SOHUCS" sid=_id) 
                    script.
                        $(function(){
                            var appid = 'cytJARzCI';
                            var conf = 'prod_dda603e812af00fc0c42c368ad3dacf2';
                            if ($(window).innerWidth() < 960) {
                                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                            } else { var loadJs = function (d, a) { 
                                var c = $('head'); 
                                var b = document.createElement("script"); 
                                b.setAttribute("type", "text/javascript"); 
                                b.setAttribute("charset", "UTF-8"); 
                                b.setAttribute("src", d); 
                                if (typeof a === "function") { 
                                    if (window.attachEvent) { 
                                        b.onreadystatechange = function () { 
                                            var e = b.readyState; 
                                            if (e === "loaded" || e === "complete") { 
                                                b.onreadystatechange = null;
                                                a() 
                                            }
                                        }
                                    } else { 
                                        b.onload = a
                                    }
                                }
                                c.appendChild(b) 
                            };
                            loadJs("http://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf })})
                            }; 
                        })