extends ../layout/layout
block content
    -var formatDate= function(str) {
        -if (!str) {
            -return;
        -}
        -let date = new Date(str);
        -let y = date.getFullYear();
        -let m = date.getMonth() < 9 ? `0${date.getMonth()+1}` : date.getMonth()+1;
        -let d = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        -return `${y}-${m}-${d}`;
    -}
    main.main#blog
        .container
            ul.article_list
                h1.list_header=active_cate
                if articleList.length
                    each val,index in articleList
                        -const {title, categoryName, createTime,alias} = val
                        a(href='/article?title='+alias)
                            li.list_cell 
                                p.title=title
                                p
                                    span.time #{formatDate(createTime)}
                else 
                    p.no_article 暂无该类文章